/*
COLORS

Only for color specific variables.
*/

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$primary-100: hsl(240, 100%, 50%);
$primary-200: hsl(230, 50%, 50%);

$primary-offset-100: hsl(240, 100%, 75%);

$neutral-20: hsl(0, 0%, 98%);
$neutral-30: hsl(0, 0%, 95%);
$neutral-40: hsl(0, 0%, 90%);
$neutral-50: hsl(0, 0%, 85%);
$neutral-60: hsl(0, 0%, 80%);
$neutral-70: hsl(0, 0%, 75%);
$neutral-80: hsl(0, 0%, 70%);
$neutral-90: hsl(0, 0%, 65%);

$green-100: hsl(120, 100%, 44%);

$red-100: hsl(0, 100%, 40%);
